<div class="container-fluid">

    <div class="row d-flex justify-content-center">
        <div class="col-ml-8 centralizarRetangulo">
            <h1 class="d-flex justify-content-center">Editar Link</h1>
            <h5 class="justify-content-start ml-3 mt-3">Nome:</h5>
            <input type="text" placeholder="Digite o nome que deseja usar para o link">
            <h5 class="justify-content-start ml-3" >Link:</h5>
            <input type="text" placeholder="Digite o link da pagina">
            <button class="btn-cadastrar-preto" >Editar</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding-bottom: 5%;">
        <div class="col-ml-4 pr-3 pt-3">
            <button class="btn-branco">Voltar</button>
        </div>
        <div class="col-ml-4 pl-5 pt-3">
            <button class="btn-editar-preto">Cadastrar</button>
        </div>
    </div>