body{
    
    background-repeat: no-repeat;
    background-image: linear-gradient(-20deg, white, #01ff5f) !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}